.dashboard-page {
  min-height: 100vh;
  padding: 20px 32px 40px;
  margin-left: 220px;
}

.dashboard-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.dashboard-title {
  margin-bottom: 30px;
  font-size: 2rem;
}

.dashboard-actions {
  width: 220px;
  min-height: 100vh;
  background: #0b1f4d;
  padding: 20px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-section {
  margin-top: 20px;
}

.dashboard-actions button {
  max-height: 100px;
  padding: 10px 18px;
  border-radius: 50px;
  border: none;
  background: #e5e7eb;
  color: #111827;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dashboard-actions button:hover {
  background: #d1d5db;
}

.dashboard-actions .active-btn {
  background: #2563eb;
  color: white;
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.3);
}

.dashboard-actions .active-btn:hover {
  background-color: #1d4ed8;
}

/* .dashboard-actions button:nth-child(4) {
  position: relative;
  top: 1000%;
} */

.sidebar__top {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar__bottom {
  margin-top: auto;
}